.main-logo img{
	max-width: 100%;
	max-height: 100%;
}
.main-logo{
	width: 100%;
	/* margin-top: 25px;
	padding-left: 55px;
	margin-bottom: 25px */;
}
.head-xanh{
	background: #4caf50;
	height: 4px;
}
.search{
	padding-left: 15px;
	width: 50%;
	border:1px solid #46C416; 
	padding-right: 15px;
}
.search-icon{
	margin: 50px 0 0 0;
	text-align: center;
}
.search:focus{
	outline:1px solid  #46C416;
}
.icon{
	background: #46C416;
	color: #fff;
	padding: 7px;
	margin-left: -6px;
}
.index-pd{
	color: #dddfe2;
	font-size: 21px;
}
.abroad2{
	position: absolute;
	top: 42%;
	right: 18%;
}
.abroad2 a{
	font-size: 20px;
	color: #fff;
}
.abroad2 ul li{
	margin-left: 20px;
}
.has-sub{
	position: relative;
}
.doc-item img{
	width: 100%;
	height: 172px;
}
.maj-title2 img{
	width: 190px;
	margin-top: -16px;
}
.doc-item1 img{
	width: 100%;
	height: 175px;
}
.doc-input2 input{
	width: 85%;
	padding: 5px 5px 5px 10px;
}
.doc-input2 button{
	background: #61b266;
	color: #fff;
	font-size: 15px;
	padding: 7px 15px 7px 15px;
	border: 1px solid #61b266;
}
.doc-item{
	margin: 60px 0 0 0;
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif !important;
	box-shadow: 5px 5px 25px 0 rgba(10,10,10,.49);
	border-radius: 6px;
}
.doc-item p{
	height: 60px;
	overflow: hidden;
	padding: 10px;
}
.doc-item a{
	color: #333;
	font-weight: 600;
}
.doc-item1{
	margin: 60px 0 0 0;
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif !important;
	box-shadow: 5px 5px 25px 0 rgba(10,10,10,.49);
	border-radius: 6px;
}

.doc-item{
	margin: 60px 0 0 0;
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif !important;
	box-shadow: 5px 5px 25px 0 rgba(10,10,10,.49);
	border-radius: 6px;
}
.p_navigation a{
	font-size: 18px;
	color: #61b266;
	font-weight: 600;
}
.p_navigation{
	margin-bottom: 80px;
	margin-top: 80px;
}

.doc-item1 p{
	height: 58px;
	overflow: hidden;
	padding: 10px;
}
.doc-item1 a{
	color: #333;
	font-weight: 600;
}
.doc-dow1 img{
	width: 30%;
	height: 26px;
}
.doc-dow2{
	padding: 8px;
	margin-bottom: 5px;
}
.doc-dow1{
	text-align: left;
	padding: 10px;
}
.doc-item2{
	margin: 30px 0 0 0;
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif !important;
	box-shadow: 5px 5px 25px 0 rgba(10,10,10,.49);
	border-radius: 6px;
}
.doc-item2 p{
	height: 58px;
	overflow: hidden;
	padding: 10px;
}
.doc-item2 a{
	color: #333;
	font-weight: 600;
}
.doc-title{
	text-align: center;
	display: block;
	font-size: 36px;
	font-weight: bold;
	font-size: 33px;
	margin: 30px;
	color: #333;
	font-family: "BayBuom" !important;
}
.doc-input2 button:hover{
	background: #49944e;
	color: #fff;
	font-size: 15px;
	padding: 7px 15px 7px 15px;
	border: 1px solid #61b266;
}
.doc-input1 input{
	width: 99%;
	padding: 5px 5px 5px 10px;
}
.doc-item2 img{
	width: 100%;
	height: 172px;
}
.menu2{
	position: absolute;
	left: 0;
	background:#4caf50;
	width: 250px;
	z-index: 10;
	display: none;
	font-size: 17px;
}
.menu2 li{
	padding: 10px 0 10px 10px;
}

.has-sub:hover .menu2{
	display: block;
}
.menu1 a{
	color: #fff;
}
.menu a{
	padding: 10px;
}
.menu2 a{
	color: white;
}
.menu {
	padding: 15px 0px 1px 25px;
	text-decoration: none;
	font-size: 19px;
	font-family: 'Source Sans Pro', sans-serif;
	background: #4caf50;
	font-weight: 600;
	margin-left: 147px;
}
.menu-list{
	background: #4caf50;
}
body a:hover{
	text-decoration: none;
}

.infor-nd{
	font-size: 15px;
	margin: 20px 10px 20px 20px;
	color: #000000b0;
}
.donate{
	position: absolute;
	top: 130px;
	right: 19%;
}
.donate a{
	color: #fff;
	font-weight: 600;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 17px;
}
.title {
	border-bottom: 2px solid rgba(221,221,221,.72);
	padding: 20px 0px 14px 20px;
	position: relative;
	font-size: 21px;
	line-height: 16px;
	font-weight: 700;

}
.kh-name input{
	padding: 2px 10px 2px;
	width: 80%;
}
.kh-name{
	margin-bottom: 20px;
	margin-left: 20px;
}
.kh-email input{
	padding: 2px 10px 2px;
	width: 80%;
}
.item{
	width: 1350px;
}
.item img{
	max-width: 100% !important;
}
.kh-button button{
	background: #61b266;
	color: #fff;
	border: 1px solid #61b266;
	padding: 5px 25px 5px 25px;
	font-weight: 600;
}
.kh-button{
	padding: 30px 0 35px 20px;
}
.kh-email{
	margin-bottom: 20px;
	margin-left: 20px;
}
.kh-noidung{
	margin-left: 20px;
	padding-right: 20px;
}
.kh-noidung textarea{
	padding: 5px 10px;
	width: 100%;
}
.kh-phone input{
	padding: 2px 10px 2px;
	width: 80%;
}
.kh-phone{
	margin-bottom: 20px;
	margin-left: 20px;
}
.a {
	margin-left: 20px;
}
.ab img{
	width: 60%;
}
.b img{
	width: 50%;
}
.c img{
	width: 70%;
}
.d img{
	width: 95%;
}
.f img{
	width: 80%;
}
.ab1 {
	width: 80%;
	height: 140px;
}
.ab2 img{
	width: 60%;
}
.ab3 img{
	width: 60%;
}
.ab4 img {
	width: 60%;
	height: 80px;
}
.ab5 {
	width: 60%;
}
.ab1 img{
	max-width: 100%;
	max-height: 100%;
}
.ab6 img{
	width: 75%;
}

.index-slide{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 500px !important;
}
.index-slide img{
	height: 100%;
	width: 100%;
	margin:0 auto;
}
#index-icon-focus{
	background: #fafcfb;
	height: 300px;
	padding-top: 20px;
	margin-top: -10px;
	padding-left: 50px;
}
.index-chuongtrinh{
	padding: 50px 35px;
}
.index-chuongtrinh1{
	padding: 54px 35px;
}
.index-chuongtrinh2{
	padding: 51px 35px;
}
.index-chuongtrinh3{
	padding: 46px 35px;
}
.index-ct-title{
	margin-top: -14px;
	margin-left: 25px;
}
.index-nc-title{
	margin-top: 10px;
	margin-left: 20px;
}
.index-cs-image{
	width: 60%;
}
.index-cs-image img{
	max-height: 100%;
	max-width: 100%;
}
.index-cs-title{
	margin-top: 10px;
	margin-left: -30px;
}
.maj-cs-title a{
	color: #333;
}
.maj-cs-title a:hover{
	color: #4caf50;
}
.maj-v-title a{
	color: #333;
}
.maj-v-title a:hover{
	color: #4caf50;
}
.maj-v-title{
	margin: 22px 0px 85px 60px;
}
.index-v-title{
	margin-top: 10px;
	margin-left: 50px;
}
.index-v-image img{
	max-width: 100%;
	max-height: 100%;
}
.index-tt-images1 img{
	max-height: 100%;
	max-width: 100%;
}
.index-chuongtrinh a{
	color: #333;
}
.index-chuongtrinh a:hover{
	color: #61b266;
}
.index-chuongtrinh1 a{
	color: #333;
}
.index-chuongtrinh2 a{
	color: #333;
}
.index-chuongtrinh3 a{
	color: #333;
}
.index-chuongtrinh1 a:hover{
	color: #61b266;
}
.index-chuongtrinh2 a:hover{
	color: #61b266;
}
.index-chuongtrinh3 a:hover{
	color: #61b266;
}
.index-tt-images2 img{
	max-height: 100%;
	max-width: 100%;
}
.index-tt-images3 img{
	max-height: 100%;
	max-width: 100%;
}
#index-tin-tuc a{
	color: rgba(41, 41, 41, 0.8117647058823529);
	text-align: center;
	display: block;
}
#index-tin-tuc a:hover{
	color:  #4caf50;
}
.index-tt-title {
	font-size: 17px;
	height: 53px;
	overflow: hidden;
	margin-top: 15px;
	color: #000;
	padding: 0 7px;
}
.index-tt-content {
	margin-bottom: 50px;
	height: 66px;
	text-align: justify;
	color: gray;
	font-size: 15px;
	overflow: hidden;
	margin-top: 15px;
	padding: 0 7px;
	margin-top: 15px;
}
.index-tt {
	/* padding: 10px; */
	box-shadow: 5px 5px 25px 0 rgba(10,10,10,.49);
	margin-bottom: 80px;
	/* margin-top: 30px; */
	padding-bottom: 1px;
	border-radius: 6px;
	overflow: hidden;
	background: #f0f0f0;
}
#index-tin-tuc{
	background: rgba(0, 0, 0, 0.1) url(../img/bg2.png) ;
	min-height: 630px;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}
.slide1.owl-loaded{

}
#owl-demoo {
	padding-bottom: 52px;
}
.menu a:hover{
	color: #000;
}
.index-main-title{
	color: black;
	margin:50px 0 25px 0;
	font-size: 28px;
	font-family: "BayBuom" !important;
}
.title_section{
	/* font-size: 30px; */
	/* text-align: center; */
	padding: 40px 0 15px
}
.index-e-images1{
	width: 100%;
	height: 100%;
}
.index-e-images1 img {
	min-height: 100%;
	min-width: 100%;
	/* padding: 10px 5px 5px 10px; */

}
#index-event a{
	color: #000;
}
#index-event a:hover{
	color: #61b266;
}
.index-e-title{
	height: 100px;
	padding: 10px;
	margin-left: -25px;
	margin-top: 5px;
	font-size: 13px;

}
.index-e-title p{
	margin-top: -10px;
}
.index-e-title p:nth-child(2){
	height: 61px;
	text-align: justify;
	overflow: hidden;
	font-size: 14px;
}
.index-e-images1{
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
}
.index-event-left1{
	box-shadow: 0px 3px 15px 0 rgba(10,10,10,.49);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin-bottom: 30px;
	background:#fff; 
	height: 120px;
	overflow: hidden;

}
#index-event{
	background: #fff;
	padding-bottom: 30px;
}
.index-event-left{
	/* margin-top: 133px; */
}
.index-e-images2 img{
	width: 98%;
	height: 110px;
	padding: 10px;
}
.index-e-images3 img {
	padding: 10px;
	height: 115px;
	width: 100%;
}
.index-event-right{
	position: relative;
	overflow: hidden;
	box-shadow: 0px 3px 15px 0 rgba(10,10,10,.49);
}
.index-event-right-text{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: auto;
	padding: 10px;
	z-index: 100;
	z-index: 100;
	background: rgba(255, 255, 255, 0.62);
}
.index-event-right-text a{
	font-size: 20px;
}
.index-event-right-text p{
	margin-bottom: 0;
}
.index-event-right-img img{
	width: 100%;
}
.index-e-content{
	text-align: center;
	position: absolute;
	top: 39%;
	color: #fff;
	font-size: 18px;
	left: 53px;
}
.index-e-content1{
	color:  #fff;
	font-weight: 800;
	font-size: 28px;
	font-family: "BayBuom" !important;
}
.index-duan1 img{
	width: 100%;
	height: 160px;
}
.index-duan2 img{
	max-width: 100%;
	max-height: 100%;
}
.cot1 a{
	color: #fff;
}
.cot1 a:hover{
	color: #61b266;
}
.index-duan{
	/* margin-left: 50px; */
}
.du_an_1_img{
	width: 100%;
	height: 222px;
	overflow: hidden;
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	justify-content: center;
	align-items: center;
	/*border: 1px solid #dedede;*/
	background: white;
}
.du_an_1_img img{
	display: block;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	/* max-width: 100%; */
	/* max-height: 100%; */
}
.du_an_1_text a{
	display: block;
	text-align: center;
	font-size: 19px;
	color: rgba(0, 0, 0, 0.78);
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-top: 5px;
}
.du_an_1_text a:hover{
	color: #4CAF50;
}
.pd{
	font-size: 18px;
	margin-bottom: 10px;
	display: block;

}
.cot1 p{
	margin-top: -5px;
}
#footer{
	background-color: #212529eb;
	color: #fff;
	font-size: 14px;
	padding-bottom: 30px;
}

.cot1{
	margin-top: 30px;
}
.f_left{
	margin-top: 26px;
	margin-left: 70px;
}
#index-du-an{
	background-image: url(../img/bg1.png);
	/*height: 586px;*/
	height: 630px;
	background-size: cover;
	background-position: center;
	/*background-attachment: fixed;*/
	background-repeat: no-repeat;
}
.index-da-title{
	color:  #212529eb;
	font-size: 28px;
	margin-top: 165px;
	/* font-family: "BayBuom" !important; */
	/* margin-left: 100px; */
	/* margin-bottom: 50px; */
}

#index-tai-tro{
	/* background: whitesmoke; */
	padding-bottom: 45px;
	/* margin-top: 125px;
	height: 250px; */
}
#index-tai-tro .items, #index-tai-tro .items a{
	height: 90px;
	overflow: hidden;
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	justify-content: center;
	align-items: center;
}
#index-tai-tro .items img{
	max-width: 100%;
	max-height: 100%;
	display: block;
	margin: 0 auto;
}
.hamburger {
	padding: 5px 5px;
	display: inline-block;
	cursor: pointer;
	transition-property: opacity, -webkit-filter;
	transition-property: opacity, filter;
	transition-property: opacity, filter, -webkit-filter;
	transition-duration: 0.15s;
	transition-timing-function: linear;
	font: inherit;
	color: inherit;
	text-transform: none;
	background-color: transparent;
	border: 0;
	margin: 0;
	overflow: visible; 
}
.hamburger:hover {
	opacity: 0.7; 
}
.f_right {
	margin-bottom: 15px;
	margin-top: 25px;
}
.hamburger-box {
	width: 30px;
	height: 24px;
	display: inline-block;
	position: relative; 
}

.hamburger-inner {
	display: block;
	top: 50%;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
	width: 25px;
	height: 2px;
	background-color: #fff;
	position: absolute;
	transition-property: -webkit-transform;
	transition-property: transform;
	transition-property: transform, -webkit-transform;
	transition-duration: 0.15s;
	transition-timing-function: ease; 
}
.hamburger-inner::before, .hamburger-inner::after {
	content: "";
	display: block; 
}
.hamburger-inner::before {
	top: -10px; 
}
.hamburger-inner::after {
	bottom: -10px; 
}

/*
 * 3DX
 */
 .hamburger--3dx .hamburger-box {
 	-webkit-perspective: 80px;
 	perspective: 80px; 
 }

 .hamburger--3dx .hamburger-inner {
 	transition: background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
 	transition: transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
 	transition: transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1); 
 }
 .hamburger--3dx .hamburger-inner::before, .hamburger--3dx .hamburger-inner::after {
 	transition: -webkit-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
 	transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
 	transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); 
 }

 .hamburger--3dx.is-active .hamburger-inner {
 	background-color: transparent;
 	-webkit-transform: rotateY(180deg);
 	transform: rotateY(180deg); 
 }
 .hamburger--3dx.is-active .hamburger-inner::before {
 	-webkit-transform: translate3d(0, 10px, 0) rotate(45deg);
 	transform: translate3d(0, 10px, 0) rotate(45deg); 
 }
 .hamburger--3dx.is-active .hamburger-inner::after {
 	-webkit-transform: translate3d(0, -10px, 0) rotate(-45deg);
 	transform: translate3d(0, -10px, 0) rotate(-45deg); 
 }

/*
 * 3DX Reverse
 */
 .hamburger--3dx-r .hamburger-box {
 	-webkit-perspective: 80px;
 	perspective: 80px; 
 }

 .hamburger--3dx-r .hamburger-inner {
 	transition: background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
 	transition: transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
 	transition: transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1); 
 }
 .hamburger--3dx-r .hamburger-inner::before, .hamburger--3dx-r .hamburger-inner::after {
 	transition: -webkit-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
 	transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
 	transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); 
 }

 .hamburger--3dx-r.is-active .hamburger-inner {
 	background-color: transparent;
 	-webkit-transform: rotateY(-180deg);
 	transform: rotateY(-180deg); 
 }
 .hamburger--3dx-r.is-active .hamburger-inner::before {
 	-webkit-transform: translate3d(0, 10px, 0) rotate(45deg);
 	transform: translate3d(0, 10px, 0) rotate(45deg); 
 }
 .hamburger--3dx-r.is-active .hamburger-inner::after {
 	-webkit-transform: translate3d(0, -10px, 0) rotate(-45deg);
 	transform: translate3d(0, -10px, 0) rotate(-45deg); 
 }

/*
 * 3DY
 */
 .hamburger--3dy .hamburger-box {
 	-webkit-perspective: 80px;
 	perspective: 80px; 
 }

 .hamburger--3dy .hamburger-inner {
 	transition: background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
 	transition: transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
 	transition: transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1); 
 }
 .hamburger--3dy .hamburger-inner::before, .hamburger--3dy .hamburger-inner::after {
 	transition: -webkit-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
 	transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
 	transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); 
 }

 .hamburger--3dy.is-active .hamburger-inner {
 	background-color: transparent;
 	-webkit-transform: rotateX(-180deg);
 	transform: rotateX(-180deg); 
 }
 .hamburger--3dy.is-active .hamburger-inner::before {
 	-webkit-transform: translate3d(0, 10px, 0) rotate(45deg);
 	transform: translate3d(0, 10px, 0) rotate(45deg); 
 }
 .hamburger--3dy.is-active .hamburger-inner::after {
 	-webkit-transform: translate3d(0, -10px, 0) rotate(-45deg);
 	transform: translate3d(0, -10px, 0) rotate(-45deg); 
 }

/*
 * 3DY Reverse
 */
 .hamburger--3dy-r .hamburger-box {
 	-webkit-perspective: 80px;
 	perspective: 80px; 
 }

 .hamburger--3dy-r .hamburger-inner {
 	transition: background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
 	transition: transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
 	transition: transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1); 
 }
 .hamburger--3dy-r .hamburger-inner::before, .hamburger--3dy-r .hamburger-inner::after {
 	transition: -webkit-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
 	transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
 	transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); 
 }

 .hamburger--3dy-r.is-active .hamburger-inner {
 	background-color: transparent;
 	-webkit-transform: rotateX(180deg);
 	transform: rotateX(180deg); 
 }
 .hamburger--3dy-r.is-active .hamburger-inner::before {
 	-webkit-transform: translate3d(0, 10px, 0) rotate(45deg);
 	transform: translate3d(0, 10px, 0) rotate(45deg); 
 }
 .hamburger--3dy-r.is-active .hamburger-inner::after {
 	-webkit-transform: translate3d(0, -10px, 0) rotate(-45deg);
 	transform: translate3d(0, -10px, 0) rotate(-45deg); 
 }
 .hamburger--boring .hamburger-inner, .hamburger--boring .hamburger-inner::before, .hamburger--boring .hamburger-inner::after {
 	transition-property: none; 
 }

 .hamburger--boring.is-active .hamburger-inner {
 	-webkit-transform: rotate(45deg);
 	transform: rotate(45deg); 
 }
 .hamburger--boring.is-active .hamburger-inner::before {
 	top: 0;
 	opacity: 0; 
 }
 .hamburger--boring.is-active .hamburger-inner::after {
 	bottom: 0;
 	-webkit-transform: rotate(-90deg);
 	transform: rotate(-90deg); 
 }
 #major{
 	background: url(../img/bg1.png);
 	height: 450px;	
 	margin-top: 30px;
 }
/*  .maj-content{
 	width: 53%;
 	height: 100px;
 	overflow: hidden;
 	position: absolute;
 	top: 255px;
 	left: 55px;
 	color: #333;
 	font-weight: 500;
 	} */
 	.maj-title2{
 		font-size: 20px;
 		font-weight: 600;
 		color: #333;
 		font-family: "BayBuom" !important;
 		text-align: center;
 		margin-top: 50px;
 		margin-bottom: 50px;

 	}
 	#major2{
 		background: #eeeeee26;
 		padding-bottom: 70px;
 		padding-top: 20px;
 	}
 	#major2{
 		background: #eeeeee26;
 		/* padding-bottom: 70px; */
 		/* padding-top: 20px; */
 	}
 	.maj-image img{
 		max-width: 100%;
 		max-height: 100%;
 		margin-left: 195px;
 		margin-bottom: 20px;
 	}
 	.maj-image1 img{
 		max-width: 100%;
 		max-height: 100%;
 	}
 	.maj-image{
 		width: 150px;
 	}
 	.maj-image1 {
 		width: 250px;
 		margin-top: -10px;
 	}
 	.index-main-title img{
 		width: 105px;
 		margin-top: -42px;
 	}
 	.index-e-content img{
 		width: 110px;
 		margin-top: -100px;
 	}
 	.index-da-title img{
 		width: 185px;
 		margin-top: -30px;
 		margin-left: -10px;
 	}
 	.index-tt-images1{
 		height: 189px;
 		overflow: hidden;
 		display: flex;
 		display: -webkit-flex;
 		display: -moz-flex;
 		justify-content: center;
 		align-items: center;
 	}

 	#document{
 		margin-top: 50px;
 	}
 	#document{
 		margin-top: 50px;
 	}

 	#document{
 		margin-top: 50px;
 	}

 	@media screen and (max-width: 720px) {
 		.menu {
 			margin-left: 0px; 
 		}
 		.index-slide {
 			height: 150px;
 			width: 31%;
 		}
 		#index-icon-focus {
 			padding-top: 0px; 
 			margin-top: 0px; 
 			padding-left:0px; 
 		}
 		.doc-input2{
 			margin-bottom: 30px;
 			margin-top: 22px;
 		}
 		.abroad2 {
 			position: absolute;
 			top: 33%;
 			right: 23%;
 		}
 		.maj-title {
 			top: 240px;
 			left: 14%;
 		}
 		.maj-content {
 			top: 220px;
 		}
 		.doc-input2 button {
 			padding: 7px 15px 6px 15px;
 		}

 		.maj-image img {
 			margin-left: 120px;
 		}
 		.maj-content {
 			width: 78%;
 			left: 55px;
 			bottom: 144px;
 			font-size: 20px;
 		}
 		.maj-chuongtrinh3{
 			margin-left: 105px;
 		}
 		.res{
 			display: block;
 			margin-top: 15px;
 		}
 		.doc-item p {
 			height: 70px;
 			margin-top: 24px;
 			font-size: 22px;
 		}
 		.major {
 			opacity: 0.8;
 			height: 448px;
 		}
 		.doc-item2 p {
 			height: 70px;
 			margin-top: 24px;
 			font-size: 22px;
 		}
 		.doc-item1 p {
 			height: 70px;
 			margin-top: 24px;
 			font-size: 22px;
 		}
 		.donate {
 			top: 200px;
 			position: absolute;
 			top: 181px;
 			left: 40%;
 		}
 		.a {
 			margin-left: 7px;
 		}
 		.search-icon {
 			margin-left: -10px;
 			margin-bottom: 25px;
 			margin-top: 0px;
 			margin-right: 0px;
 		}
 		.main-logo {

 			padding-left: 0px;
 		}
 		.index-chuongtrinh {
 			padding: 0px 0 0 80px;
 		}
 		.index-chuongtrinh1 {
 			padding: 25px 0px 20px 115px;
 		}
 		.index-chuongtrinh3 {
 			padding: 45px 0 0 80px;
 		}
 		.index-ct-image{
 			width: 220px;
 		}
 		.index-ct-title{
 			margin-left: 43px;
 		}
 		#index-icon-focus {
 			height: 864px;
 		}
 		.index-chuongtrinh2 {
 			padding: 10px 0 0 122px;
 		}
 		.index-da-title {
 			margin-top: 50px;
 			margin-bottom: 30px;
 		}
 		.index-cs-image {
 			width: 50%;
 		}
 		.index-v-image {
 			width: 70%;
 		}
 		#index-tin-tuc{
 			text-align: center;
 		}
 		.index-tt-content {
 			font-size: 20px;
 			height: 64px;
 		}
 		.index-tt-title {
 			font-size: 20px;
 			margin-bottom: 10px;
 		}
 		.index-main-title:after {
 			width: 21%;
 			margin-left: 154px;
 		}
 		.index-event-right{
 			width: 100%;
 		}
 		.index-main-title {
 			margin: 50px 0 0px 0;
 		}
 		.index-e-content {
 			padding-right: 20px;
 			left: 23px;
 			font-family: "BayBuom" !important;
 		}
 		.index-e-content1:after {
 			width: 20%;
 			margin-left: 149px;
 		}
 		.index-event-left{
 			margin-top: 0px;
 		}
 		.index-e-title {
 			margin-left: 0px;
 			text-align: center;
 			font-size: 18px;
 		}
 		.index-e-images3 img {
 			height: 180px;
 		}
 		.index-e-images2 img {
 			height: 150px;
 		}
 		.infor-nd {
 			padding-right: 50px;
 		}
 		.kh-name {
 			margin-left: 21px;
 			margin-top: 21px;
 		}
 		.kh-phone {
 			margin-left: 21px;
 		}
 		.kh-email {
 			margin-left: 21px;
 		}
 		.kh-noidung textarea {
 			width: 100%;
 		}
 		.kh-noidung {
 			margin-left: 21px;
 		}
 		.index-v-title {
 			margin-left: 43px;
 		}
 		.index-da-title:after {
 			width: 48%;
 		}
 		.index-duan1{
 			margin-bottom: 30px;
 		}
 		.index-duan {
 			margin-left: 0px;
 			padding: 0px 40px 0 40px;
 		}
 		#index-du-an {
 			height: 554px;
 		}
 		.f-left{
 			margin-left: 0px;
 		}
 		.doc-input1{
 			margin-left: 9px;
 		}
 		#index-tai-tro {
 			margin-top: 125px;
 			height: 350px;
 		}
 		.doc-input1 input {
 			width: 80%;

 		}
 		.doc-input2 input {
 			width: 80%;
 			padding: 5px 5px 5px 10px;
 			margin-left: 9px;
 		}
 		.doc-item {
 			margin: 0 0 0 0;
 		}
 		.doc-item1 {
 			margin: 0 0 0 0;
 		}
 		.doc-item2 {
 			margin: 0 0 0 0;
 		}
 		.f_left {
 			margin-left: 0px;
 		}
 		.doc-dow1 img {
 			width: 12%;
 			height: 35px;
 		}
 		.doc-dow1 {
 			text-align: left;
 			padding: 20px;
 		}
 		.doc-dow2 {
 			font-size: 22px;
 			margin-top: -51px;
 			padding: 20px;
 		}
 	}
 	@media screen and (max-width: 992px) and (min-width: 768px){  
 		.abroad2 {
 			top: 10%;
 		}
 		.doc-dow2 {
 			padding: 0 8px 10px 8px;
 			margin-bottom: 5px;
 		}
 		.search-icon{
 			margin-top: 25px;
 		}
 		.doc-input2 input {
 			width: 82%;
 		}
 		.doc-input2 button {
 			padding: 7px 15px 6px 15px;
 		}
 		.doc-input2{
 			margin-top: 1px;
 			margin-left: 1px;
 		}
 		.index-da-title {
 			margin-bottom: 0px; 
 		}
 		.maj-content{
 			font-size: 20px;
 			height: 96px;
 		}
 		.cot1 {
 			margin-top: 39px;
 		}
 		.f_left {
 			margin-top: 26px;
 			margin-left: 30px;
 		}
 		.maj-image img {
 			margin-left: 85px;
 		}
 		.doc-input1{
 			margin-top: 1px;
 			margin-left: 1px;
 		}
 		.menu{
 			margin-left: 10px;
 		}
 		.donate {
 			position: absolute;
 			top: 95px;
 			right: 13%;
 		}
 		.kh-name {
 			margin-bottom: 18px;
 			margin-left: 19px;
 			margin-top: 21px;
 		}
 		.kh-phone {
 			margin-left: 21px;
 		}
 		.kh-email {
 			margin-bottom: 20px;
 			margin-left: 21px;
 			margin-top: 20px;
 		}
 		.kh-noidung {
 			margin-left: 21px;
 		}

 		.kh-noidung textarea {
 			width: 101%;
 		}
 		.kh-button{
 			padding-top: 20px;
 		}
 		.index-chuongtrinh {
 			padding: 50px 0px;
 			margin-left: -33px;
 		}
 		.index-chuongtrinh1 {
 			padding: 54px 10px;
 		}
 		.index-chuongtrinh2 {
 			padding: 59px 0px;
 			text-align: center;
 		}
 		.index-chuongtrinh3 {
 			padding: 67px 0px;
 		}
 		.index-cs-image {
 			width: 70%;
 		}
 		.index-main-title:after {
 			width: 12%;
 			margin-left: 306px;
 		}
 		.index-tt-title {
 			height: 75px;
 		}
 		.index-event-right{
 			width: 100%;
 			height: 473px;
 		}
 		.index-e-content {
 			font-size: 17px;
 			left: 8px;
 		}
 		.index-main-title {
 			margin: 50px 0 0px 0;
 		}
 		.index-e-content1:after {
 			margin-left: 196px;
 		}
 		.index-event-left1 {
 			height: 150px;
 			margin-bottom: 10px;
 		}
 		.index-e-images1 {
 			/* margin-top: 15px; */
 		}
 		.index-e-images1 img {
 			padding: 10px 0px 0px 5px;
 			width: 100%;
 			height: 93px;
 		}
 		#index-du-an {
 			height: 420px;
 		}
 		.index-duan1 img{
 			height: 100px;
 			width: 100%;
 		}
 		#index-tai-tro {
 			height: 250px;
 		}
 		.cot1 p {
 			margin-top: -15px;
 		}
 		.event-left {
 			margin-top: 111px;
 		}
 		.res{
 			display: block;
 			margin-top: 10px;
 		}
 		.doc-dow1 img {
 			width: 69%;
 			height: 26px;
 		}
 	}

 	.c-bread li{
 		float: left;
 	}
 	.index-ct-image img{
 		max-height: 100%;
 		max-width: 100%;
 	}
 	.index-duan1{
 		border-radius: 6px;
 		overflow: hidden;
 	}

 	@media screen and (max-width: 768px){
 		.du_an_1_img{
 			height: 100px;
 		}
 	}