.nav_bar{
	padding: 0 !important;
}
#cssmenu{
	padding: 0;
}
#cssmenu > ul > li > a {
	padding: 0 13px;
	line-height: 60px;
}
.header_logo img {
	padding: 5px;
	height: 60px;
}
.header_topright_list{
	margin-top: 15px;
}
#cssmenu > ul{
	z-index: 50;
}
#cssmenu{
	background: white;
}
.language_mobi{

}
.btn-success:hover {
	background-color: #3d9363 ;
	border-color: #3d9363 ;
}
.headerbot{
	display: block;
}
.b_none .secone_part2_sub_2{
	border: none;
}
.form-search input{
	width: 300px;
	display: inline-block;
	border-radius: 0;
	height: 34px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	border: 1px solid white;
}
.form-search button{
	margin: 0;
	margin-left: -5px;
	margin-top: -4px;
	border-radius: 0;
	height: 34px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;

	border: 1px solid white;
	background: #3c9764;
	color: white;
}
.form-search{
	float: right;
	margin-right: 15px;
	margin-top: 12px;
}
#taiLieu{
	padding: 40px 0;
}
#taiLieu .nav{
	display: block;
}
#taiLieu .nav a, #taiLieu .nav label {
	display: block;
	padding: .85rem;
	color: white;
	background-color: #151515;
	box-shadow: inset 0 -1px #3e3d3d;
	-webkit-transition: all .25s ease-in;
	transition: all .25s ease-in;
}

#taiLieu .nav li 
{
	list-style-type: none;
}

#taiLieu .nav ul a:hover 
{
	color:#000;
	background: #ccc;
}

#taiLieu .nav ul ul 
{
	display: none;
}

#taiLieu .nav li.active>ul 
{
	display: block;
}

#taiLieu .nav ul ul a
{
	padding-left: 1rem;
	background: #222;
	box-shadow: inset 0 -1px #333;
}

#taiLieu .nav ul ul ul a 
{
	padding-left: 2rem;
	background: #333;
	box-shadow: inset 0 -1px #444;
}

#taiLieu .nav ul ul ul ul a 
{
	padding-left: 3rem;
	background: #444;
	box-shadow: inset 0 -1px #555;
}

#taiLieu .nav li.active>a+ul 
{
	max-height: 1000px;
}

#taiLieu li{
	position: relative;
}
#taiLieu .menu_l span 
{
	text-align: center;
	float: right;
	-webkit-transition: -webkit-transform .65s ease;
	transition: transform .65s ease;
	position: absolute;
	right: 0px;
	width: 35px;
	height: 100%;
	top: 0px;
	padding: 14px 0;
	border-left: 1px solid #3e3d3d;
	color: white;
}

#taiLieu{
	background: rgb(240,240,240);
}
#taiLieu .nav li.active>a>span 
{
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}
.banner_cat_in_tit p{
	color: white;
	font-size: 18px;
	font-style: italic;
}
h3.viewWord_tt{
	color: #3c9764;
	font-size: 22px;
	padding-bottom: 5px;
	border-bottom: 1.5px solid rgba(60, 151, 100, 0.98);
}
.viewWord p{
	text-align: justify;
	margin-top: 15px;
}
.viewWord img{
	max-height: 500px;
	display: block;
	margin: 0 auto;
}
.tt_word{
	border-bottom: 1.5px solid rgba(60, 151, 100, 0.98);
	font-size: 16px;
	font-weight: bold;
	font-style: italic;
}
.tt_word{
}
.tt_word a{
	color: #3c9764;
	font-style: normal;
	
}
.pagination a{
	display: inline-block;
}
a.tl_a h1{
	color: black;
	font-size: 18px;
}
a.tl_a:hover h1{
	color: #3c9764;
}
.menu_l.fixed {
	position: fixed;
	width: 25%;
	padding-right: 30px;
}


.pd_40{
	padding: 40px 0;
}
.secone_title1 h1{
	font-size: 28px;
	color: #444444;
}
.secone_title1{
	margin-bottom: 40px;
}
.secone_title2{
	margin-top: 40px;
}
#pricing .nav{
	display: block !important;
}
#pricing .nav-tabs .nav-item{
	display: inline-block !important;
}
#pricing .nav-tabs .nav-item.show .nav-link, #pricing .nav-tabs .nav-link.active {
	color: #444444;
	border:1px solid #3c9764 !important;
	background: #fff !important;
}
#pricing .nav-tabs .nav-link.active, #pricing .nav-tabs .nav-link:focus, #pricing .nav-tabs .nav-link:visited{
	/* border-bottom: 1.5px solid !important; */
}
#pricing .nav-tabs {
	border-bottom: none !important;
	text-align: center;
}
#pricing .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
	/*border-color: transparent !important;*/
	/* border-bottom: 1.5px solid !important; */
}
#pricing .nav-link{
	color: #fff;
	font-size: 16px;
	border-top-left-radius: 0 !important;
	border-top-right-radius:0 !important;
	-webkit-transition:all 1s;
	-moz-transition: all 1s;
	transition: all 1s;
}
#pricing .nav-link:hover{
	color: #444444;
	background: #fff;
	border-color: rgba(60,151,100,1);
	-webkit-transition:all 1s;
	-moz-transition: all 1s;
	transition: all 1s;
}
.tab-content{
	margin-top: 40px;
}
.course_item{
	background: #f7f7f7;
	border-radius: 6px;
	overflow: hidden;
	/*border: 1px solid #ddd;*/
	box-shadow: 2px 3px 9px 5px rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.19);
}
.course_top{
	background: #3c9764;
	color: white;
	padding: 18px 10px;
	text-align: center;
}
.course_top.bg1{
	background: #8bc34a;
	background: -moz-linear-gradient(45deg, #8bc34a 0%, #4caf50 90%);
	background: -webkit-linear-gradient(45deg, #8bc34a 0%,#4caf50 90%);
	background: linear-gradient(45deg, #8bc34a 0%,#4caf50 90%); 
}
.course_top.bg2{
	background: #3D875D;
}
.course_top.bg3{
	background: #009688;
	background: -moz-linear-gradient(45deg, #009688 0%, #3c9764 90%);
	background: -webkit-linear-gradient(45deg, #009688 0%,#3c9764 90%);
	background: linear-gradient(45deg, #009688 0%,#3c9764 90%); 
}
.course_top.bg4{
	background: #3c9764;
	background: -moz-linear-gradient(45deg, #3c9764 0%, #8bc34a 90%);
	background: -webkit-linear-gradient(45deg, #3c9764 0%,#8bc34a 90%);
	background: linear-gradient(45deg, #3c9764 0%,#8bc34a 90%); 
}
.course_top .name{
	/* text-transform: uppercase; */
	font-size: 26px;
	letter-spacing: 1px;
}
.course_top .name span{
	color: red;
}
.course_top .price{
	color: #ffeb3b;
}
.course_top .price span{
	font-size: 20px;
}
.course_bottom{
	padding: 18px 10px;
}
.course_bottom ul{

}
.course_bottom ul li{
	border-top: 1px dotted #ccc;
	padding: 14px 0 10px 0px;
	color: #444;
	text-align: center;
}
.course_bottom ul li:first-of-type{
	border-top: none;
	padding-top: 0;
}
.course_bottom ul li:last-of-type{
	padding-bottom: 0px;
}
.ghi_chu{
	margin-top: 30px;
	font-size: 17px;
}

/*.table-bordered td, .table-bordered th, .table thead th {
	border: 1px solid #a2a2a2 !important;
	vertical-align: middle;
}*/
/*.tr_bg{
	background: #dedcdc;
	font-weight: bold;
	text-align: center;
	font-size: 16px;
}*/
/*.bg_g{
	background: #47af75;
}*/
.link_ex{
	color:#444444;
	margin-bottom: 8px; 
	text-align: right;
	font-size: 15px;
}
.link_ex a{
	border-bottom: 1px solid;
}
.link_ex a:hover{
	color: rgb(60, 151, 100);
}
.banggia_tab{
	background: rgba(60,151,100,1);
	min-width: 178px;
	margin-bottom: 4px !important;
}
.marginbottom_15{
	margin-bottom: 15px;
}
.t_bold{
	font-weight: bold;
}

.h3d-footer-icon {
	font-size: 16px;
	color: #3C9764;
	margin-right: 10px;
}

.messenger-icon {
	font-size: 16px;
	color: #ffffff;
}

.messenger-link {
	font-size: 16px !important;
}

.footer_one_listinfo a {
	color: #ffffff;
}

@keyframes abc{
	0%{
		color: #3C9764;
	}
}

.hcoin-container {
	padding: 5% !important;
}

.hcoin-sub-title {
	color: #ffffff !important;
}

.hcoin-sub-title a {
	color: yellow !important;
}

.hcoin-footer-msg {
	padding-top: 50px;
	font-style: italic;
}